.button {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  // white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  font-family: OpenSans, 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  background-color: #2aa76d;

  &:hover,
  &_hover {
    text-decoration: none;
    background-color: #40cd87;
  }

  &:focus,
  &_focus {
    outline: 0;
    box-shadow: 0 0 5px 5px black;
  }

  &:disabled,
  &_disabled {
    cursor: default;
    opacity: .65;
    box-shadow: none;
    background-color: #cccccc;
  }

  &:active,
  &_active {
    background-image: none;
    background-color: #2b935f;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}



// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button {
    width: 100%;
  }
}


